<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Test</title>

    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/scripts")


</head>
<body>
    @RenderBody()
</body>
</html>